// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cocktails {
  // height: 100vh;
  display: flex;
  flex-wrap: wrap;
  article {
    flex: 1 1 auto;
    text-align: center;

    transition: padding .2s;
    padding: 3em;
    &:hover {
      padding: 3em 4em;
    }
  }
  .add-btn {
    transition: padding-right .25s ease-in-out;
    background: black;
    &:hover{
      padding-right: 72pt;
    }
  }
}

